@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Bebas+Neue&family=Electrolize&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800&family=Lekton:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700&');

*{
    padding: 0;
    margin: 0;
}


*, *::before, *::after{
    box-sizing: border-box;
}


html, body{
    overflow: hidden;
}

img {
    object-fit: cover;
    display: block;
}



body{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    color: #2f4a5f;
}




/* Header */

header{
    width: 20%;
    min-width: 200px;
    height: 100%;
    background-color: white;
    position: relative;
    padding-top: 20px;
    border-right: 1px solid lightgrey;
}



.logo{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: center;
    width: 80%;
    margin: auto;
    max-height: 250px;
    justify-content: center;
}

.logo h1 {
    font-family: 'League Spartan';
}

.logo h2 {
    font-family: 'Bebas Neue';
}

.logo img{
    width: 100%;
}


.boutons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 30px;
    margin-top: 50px;
}


.boutons section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.boutons section h1{
    font-size: 1rem;
    opacity: 0.6;
    width: 100%;
    border-bottom: 1px solid #2f4a5f;
    margin-bottom: 5px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    border: 2px solid #d6e46c;
    border-radius: 10px;
    background-color: transparent;
    height: 80px;
    gap: 5px;
}

button.active {
    background-color: #d6e46c;
    color: #2f4a5f;
    font-weight: bold;
}


.temps button div{
    display: flex;
    align-items: center;
    gap: 5px;
}


/* Main */

main {
    width: 80%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

main ul {
    overflow-y: auto;
    height: 90%;
    width: 90%;
    background-color: #faf9fb;
    border-radius: 15px;
    display: flex;
    padding: 20px 40px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}



main ul li{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: fit-content;
    padding: 10px;
    background-color: #f9f4e0;
    gap: 10px;
    height: 320px;
    
}

main ul li h1{
    font-size: 1.3rem;
    white-space: nowrap; /* Prevent line breaks within the title */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis;
}

main figure{
    width: 100%;
    height: 65%;
    border-radius: 15px;
    position: relative;
}

main figure img{
    width: 100%;
    height: 100%;
}

main figure .time{
    position: absolute;
    z-index: 4;
    background-color: white;
    bottom: 10px;
    left: 10px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

main figure .difficulty {
    position: absolute;
    z-index: 4;
    background-color: white;
    top: 10px;
    right: 10px;
    color: #dfa74c;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}


main figure img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

main ul .img_content{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}




.components{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.component{
    background-color: #f3ebb6;
    display: flex;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
    align-items: center;
    font-weight: bold;
    width: 45%;
    justify-content: center;
}


header .fa-x, main .fa-bars{
    display: none;
}

@media (max-width: 1443px) {
    .component{
        font-size: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 1260px) {
    header{
        width: 30%;
    }

    main{
        width: 70%;
    }
    main ul li{
        width: 48%;
    }
}






@keyframes goLeft{
    to{
        left: -100%;
    }
}

@keyframes goRight{
    to{
        left: 0;
    }
}

@media (max-width: 923px){

    header .fa-x{
        display: flex;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    header{
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px 5%;
        left: -100%;
        transition: left 0.3s ease-in;
    }

    /* .header_mobile_out{
        animation: goLeft 0.3s ease-in forwards 1s;
    } */


    .logo{
        max-width: 450px;
        height: 20%;
        margin: 0;
    }

    .logo h1{
        font-size: 3vw;
    }
    
    .logo h2{
        font-size: 2.4vw;
    }

    .boutons {
        gap: 20px;
        height: 70%;
        justify-content: space-evenly;
        position: static;
        transform: none;
        margin-top: 0;
        padding-top: 0;
    }

    .boutons section{
        height: 20%;
    }

    button{
        height: 80%;
    }


    main{
        width: 100%;
        flex-direction: column;
    }

    main ul{
        width: 100%;
        min-height: 100vh;
    }

    main ul li{
        width: 45%;
        height: 200px;
    }

    main .fa-bars{
        display: flex;
    }

    main > section{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: #f5f5f590;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 5%;
        font-size: 1.5rem;
    }
}


@media (max-width: 660px) {
    main ul li{
        width: 100%;
    }
}